.van-dialog__message--has-title {
  color: #ee0a24;
}
.van-card__price {
  color: #ee0a24;
}
.van-submit-bar__bar {
  padding: 0 16px 0 0;
}
.van-tag--primary.van-tag--plain {
  margin-top: 6px;
}
